@{
    Style.Include("youtube-style.css").AtHead();
}
<div class="video-title">
    <strong class="highlight">Please Read!</strong>
    <strong>For iOS Device, follow the install guide below.</strong>
</div>
<div class="video-content">
    <div class="iframewrapper">
        <iframe width="640"
                height="360"
                src="https://www.youtube.com/embed/@(Model.VideoId)"
                frameborder="0"
                allowfullscreen></iframe>
    </div>
</div>
