@{
    Style.Include("style.css").AtHead();
}
<style>
.youtube{
    text-align:center;
}
</style>
<div class="youtube-body">
    <p class="youtube-title">
        <strong>How to install App to iPhone (Enterprise App)</strong>
    </p>
    <div class="youtube-container">
        <div class="iframe-wrapper">
            <iframe width="640"
            height="360"
            src="https://www.youtube.com/embed/@(Model.VideoId)"
            frameborder="0"
            allowfullscreen></iframe>
        </div>
    </div>
</div>
