
.video-title {
    text-align: center;
}

.video-title .highlight {
    color:#F00;
}


.video-content {
    position: relative;
    margin: auto;
    max-width: 600px;
}

.video-content .iframewrapper {
    padding-bottom: 120%;
    max-width: 600px;
}

.video-content iframe,
.video-content object,
.video-content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
